@import "_partials.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/img/backdrop.png);
  object-fit: cover;
}

/* HEADER */

header {
  font-family: 'Raleway', sans-serif;
  background-color: #87189d;
  #oneClick {
    width: calc(150px + 1.5vw);
    height: auto;
    transition: 0.5s;
    &:hover {
      @include expand (scale(120%), 0.5s);
    }
  }
  h1 {
    font-weight: bolder;
    color: #ffde59;
    text-shadow: white 2px 2px 5px;
    transition: 0.5s;
    &:hover {
      @include expand (scale(120%), 0.5s); 
    }
  }
  form {
    input.form-control {
      background-color: white;
      color: black;
    }
  }
  button.btn:hover {
    background-color: #ffde59;
    color: #87189d;
  }
}

/* MAIN */
main {
  h1.display-5 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: #87189d;
    text-shadow: #ffde59 2px 2px 5px;
    transition: 0.5s;
    &:hover {
      @include expand (scale(110%), 0.5s);
    }
  }
  div.card {
    background-color: transparent;
    border: #87189d 1px solid;
    color: #87189d;
    div.card-body {
      opacity: 100%;
    }
    button.btn-outline-primary {
      color: #87189d;
      border: #87189d 1.5px solid;
      &:hover {
        background-color: #87189d;
        color: #ffde59;
      }
    }
  }
  a.btn {
    color: #87189d;
    border: #87189d 1.5px solid;
    &:hover {
      background-color: #87189d;
      color: #ffde59;
    }
  }
}

/* FOOTER */
footer {
  background-color: #323437;
  color: #ffde59;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  div {
    #oneClickLogo {
      width: calc(25px + 5%);
    }
    span {
      font-weight: bold;
    }
  }
  ul {
    li{
      a {
        i.bi {
          color: #ffde59;
        }
      }
      transition: 0.5s;
      &:hover {
        @include expand (scale(130%), 0.5s);
      }
    }
  }
}